.gutters-10 {
    margin-right: -10px;
    margin-left: -10px;
}

.bg-grad-1 {
    background-color: #eb4786;
    background-image: linear-gradient(315deg, #eb4786 0%, #b854a6 74%);
}

.size-60px {
    height: 60px;
    width: 60px;
}

.c-pointer{
    cursor: pointer !important;
}

